{% extends 'layouts/layout.html' %}
{% load static %}

{% block content %}
<!-- Index -->
<section>
    <div class="container">
        <div class="row mt-5 contenedor_presentacion d-flex justify-content-center flex-align-center">
            <div class="col-lg-5 col-md-4 contenedor_foto">
                <img src="{% static 'images/Perfil.jpeg' %}" class="img-fluid presentacion_foto" alt="Avatar">
            </div>
            <div class="col-lg-7 col-md-8 presentacion_texto">
                <h1>Sebastián Gaete</h1>
                <h3>Desarrollador Web <span class="skills">Backend</span></h3>
                <p>Desarrollador Junior con conocimientos en <span class="skills">Python</span> | <span class="skills">Django</span> | <span class="skills"> Java</span>. Apasionado por aprender nuevas tecnologías y expandir mi experiencia en el área. Poseo habilidades fundamentales en programación y un profundo interés en el desarrollo Backend.</p>
                <div class="d-flex flex-align-center redes_sociales">
                    <!-- Github -->
                    <a href="https://github.com/SebastianGaete" target="_blank">
                        <i class="bi bi-github icono_redes"></i>
                    </a>
                    <!-- Linkdln -->
                    <a href="https://www.linkedin.com/in/sebasti%C3%A1n-gaete-fuentes-54607b276/" target="_blank">
                        <i class="bi bi-linkedin icono_redes"></i>
                    </a>
                    <!-- Instagram -->
                    <a href="https://www.instagram.com/self.nombre_seba/" target="_blank">
                        <i class="bi bi-instagram icono_redes"></i>
                    </a>
                    <!-- about -->
                    <a href="{% url 'about' %}" class="button_about">Acerca de mí 
                        <i class="bi bi-arrow-up-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Proyectos -->
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col col-lg-12 text-center">
                <h3 class="proyectos_subtitulo" id="proyecto">Estos son los proyectos que he realizado</h3>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col col-lg-12 col-md-12 col-12 contenedor_proyectos">
                {% for proyecto in proyectos %}
                    <div class="card bg_card" style="width: 400px;"> 
                        <img src="{{ proyecto.imagen.url }}" class="card-img-top" alt="{{ proyecto.nombre }}">
                        <div class="card-body">

                          <h5 class="card-title text-center skills">{{proyecto.nombre}}</h5>
                          <p class="card-text text-center">{{proyecto.descripcion}}</p>

                            <div class="d-flex justify-content-between flex-align-center">
                                <div class="iconos_proyecto">
                                    <!-- Repositorio Github -->
                                    <a href="{{proyecto.link_repositorio}}" target="_blank" class="px-3 text-light">
                                        <i class="bi bi-github"></i>
                                    </a>
                                </div>
                                    <!-- Link Web -->
                                <div>
                                    <a href="{{proyecto.link_web}}"  target="_blank" class="btn button_proyecto">Visitar web <i class="bi bi-globe"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
