{% extends 'layouts/layout.html' %}

{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="row mt-5 contenedor_presentacion d-flex justify-content-center flex-align-center">
            <div class="col-lg-5 col-md-4 contenedor_foto">
                <img src="{% static 'images/Emoji.png' %}" class="img-fluid presentacion_foto" alt="Avatar">
            </div>
            <div class="col-lg-7 col-md-8 presentacion_texto">
                <h1>Sebastián Gaete</h1>
                <h3>Desarrollador Web <span class="skills">Backend</span></h3>
                <p>Desarrollador de Software con conocimientos en <span class="skills">Python</span> | <span class="skills">Django</span> | <span class="skills"> Java</span>. Apasionado por aprender nuevas tecnologías y expandir mi experiencia en el área. Poseo habilidades fundamentales en programación y un profundo interés en el desarrollo Backend.</p>
                <div class="d-flex flex-align-center">
                    <a href="https://github.com/SebastianGaete" target="_blank"><i class="bi bi-github icono_redes"></i></a>
                    <a href="https://www.linkedin.com/in/sebasti%C3%A1n-gaete-fuentes-54607b276/" target="_blank"><i class="bi bi-linkedin icono_redes"></i></a>
                    <a href="https://www.instagram.com/self.nombre_seba/" target="_blank"><i class="bi bi-instagram icono_redes"></i></a>
                    <a href="#" class="button_about">Acerca de mí <i class="bi bi-arrow-up-right"></i></a>
                </div>
            </div>

        </div>
    </div>
</section>




<section>
    <div class="container">
        <div class="row text-center mt-5">
            <div class="col">
                <img src="{% static 'images/hero.svg' %}" class="img-fluid" width="800px" alt="">
            </div>
        </div>
    </div>

    
    <div class="container-fluid p-0 contenedor_saludo">

       <div class="row">
            <div class="col-lg-12 d-flex justify-content-center flex-align-center mt-5 text-light parrafo_saludo">
                <h1>Hola<span>🖐️</span>, soy Sebastián</h1>
            </div>
       </div>

       <div class="row text-center ">
            <div class="col-lg-12 col-md-6 col-s-3 mt-2 text-light parrafo_saludo">
                <P>Me considero una persona apasionada por la programación, especialmente en el área del servidor. Siempre estoy dispuesto a enfrentar nuevos desafíos y me encuentro en constante proceso de aprendizaje. Mi pasión por el desarrollo en el ámbito del servidor me motiva a explorar y expandir mis habilidades para ofrecer soluciones creativas y eficientes. </P>
            </div>
       </div>
       
    </div>
</section>

<!-- Skills -->
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col col-lg-12">
                <h1>Mis skills</h1>

            </div>
        </div>
    </div>
</section>

{% endblock %}