


<div class="row">
  <div class="col">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Deja tu comentario</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-body bg-dark">
            <form action="{% url 'comentario' %}" method="POST" class="card card-body card_formulario">
                <p>Los campos que contengan un <span class="skills">*</span> son obligatorios.</p>
                {% csrf_token %}
                <div>
                    <label for="usuario" class="col-form-label"></label>
                    <input type="usuario" class="form-control shadow-none border-0" name="usuario" id="usuario" placeholder="Nombre*" required>
                </div>
                <div>
                    <label for="contenido" class="col-form-label"></label>
                    <textarea class="form-control shadow-none border-0" name="contenido" id="contenido" rows="4" placeholder="Comentario*" required></textarea>
                </div>

                <div class="modal-body mt-2 card_formulario d-flex justify-content-between">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                  <button class="button_contact">Publicar Comentario</button>
                </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <h1>Todos los comentarios</h1>
  </div>

</div>