
<footer>
    <div class="container mt-5">
        <hr class="barra_footer">
        <div class="row contenedor_footer text-center">
            <div class="col col-lg-4 col-md-12 col-sm-12 col-12 lh-1 py-3">
                <p>Sebastián Gaete © | 2023</p>
                <p>Desarrollador Web Backend</p>
                <div class="redes_footer">
                    <!-- Github -->
                    <a href="https://github.com/SebastianGaete" target="_blank">
                        <i class="bi bi-github text-light text-center"></i>
                    </a>
                    <!-- Linkdln -->
                    <a href="https://www.linkedin.com/in/sebasti%C3%A1n-gaete-fuentes-54607b276/" target="_blank">
                        <i class="bi bi-linkedin text-light text-center"></i>
                    </a>
                    <!-- Instagram -->
                    <a href="https://www.instagram.com/self.nombre_seba/" target="_blank">
                        <i class="bi bi-instagram text-light text-center"></i>
                    </a>
                </div>
            </div>

            <div class="col col-lg-4 col-md-12 col-sm-12 col-12 py-3">
                <p>"Hay que intentar dar un paso cada día, y cuando se retrocede esforzarse por recuperar lo perdido."</p>
                <p>~ El Asesino de Pitágoras ~</p>
            </div>

            <div class="col col-lg-4 col-md-12 col-sm-12 col-12 py-3 ">
                <h4>¿Tienes planeado algún proyecto en mente y necesitas ayuda?</h4>

                <button class="button_contact">
                    <a href="{% url 'contact' %}">Contáctame 
                        <i class="bi bi-cursor"></i>
                    </a>
                </button>

            </div>
        </div>
    </div>
</footer>

