:root{
    --titulos: 'Oswald', sans-serif;
    --cuerpos: 'Oswald', sans-serif;
    --fondo: #222831;
    --fondo2: #323a47;
    --texto: #FFF9F5;
    --secundario: #FD7014;
    --secundario2: #f4863e;
}

/* https://www.eliangermosen.com/about */

/*   GLOBALS   */
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.bg-main{
    font-family: var(--titulos);
    background-color: var(--fondo);
    color: var(--texto);
}


/*   NAVBAR   */
.menuvar-colapsado{
    background-color:  var(--secundario);
    color: var(--fondo)
}
.navbar{
    font-size: 20px;
}
.enlaces{
    color: var(--texto)
}
.enlaces:hover{
    color: var(--texto);
}
.button{
    color: var(--secundario);
    border-radius: 20px;
    padding: 5px 30px;
}
.button:hover{
    color: var(--secundario2);
    border-color: var(--secundario2)
}


/*   HERO   */
.contenedor_presentacion{
    line-height: 70px;
}
.presentacion_texto h1{
    font-size: 50px;
}
.presentacion_texto p{
    padding-top: 18px;
    font-size: 20px;
    line-height: normal;
}
.presentacion_foto{
    border-radius: 50%;
    width: 300px;
    border: solid 2px var(--secundario);
}
@media (min-width: 768px) {
    .contenedor_foto{
        text-align: end;
    }
    .presentacion_texto{
        text-align: left;
    }   
}
@media (max-width: 428px) {
    .contenedor_foto{
        text-align: center;
        padding-bottom: 30px;
    }
    .presentacion_texto{
        text-align: center;
    }
    .redes_sociales a i{
        font-size: 25px;
    }
}
@media (max-width: 393px) {
    .presentacion_texto h1{
        font-size: 35px;
    }
    .presentacion_texto p{
        font-size: 14px;
    }
}
.skills{
    color: var(--secundario2);
}
.icono_redes{
    color: var(--texto);
    font-size: 30px;
    padding-right: 20px;
}
.icono_redes:hover{
    color: var(--secundario);
}
.button_about{
    color: var(--secundario);
}



/*   PROYECTOS   */
.contenedor_proyectos{
    margin-top: 70px 
}
.proyectos_subtitulo{
    margin: 0 auto;
    max-width: 500px;
    padding-bottom: 15px;
    border-bottom: solid 3px var(--secundario2) ;
}
.bg_card{
    background-color: var(--fondo2);
    color: var(--texto);
    padding: 5px;
}
.iconos_proyecto a i{
    font-size: 25px;
}
.button_proyecto{
    background-color: var(--secundario);
    color: var(--texto);
    width: 90px;
}
.button_proyecto:hover{
    background-color: var(--secundario2);
}



/*   FOOTER   */

.barra_footer{
    background-color: var(--texto);
    height: 3px;
}
.contenedor_footer{
    margin-top: 30px;
}
.redes_footer a i{
    margin-right: 10px;
    font-size: 20px;
}
.button_contact{
    border: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #FD7014;
}
.button_contact a{
    color: var(--texto);
}
.button_contact:hover{
    background-color: var(--secundario2);
}


/*  ABOUT  */
.card_about{
    background-color: var(--fondo2);
    line-height: 30px;
}
.ciberseguridad_sub{
    color: var(--secundario2);
}
.card_skills{
    width: 100px;
    width: 130px;
    text-align: center;
}
.card_skills img{
    width: 100px;
}
@media (max-width: 430px ) {
    .contenedor_skills{
        flex-direction: column;
        gap: 17px;
    }
    .sub_skills{
        text-align: center;
    }
    .sub_about{
        text-align: center;
    }
}


/*  CONTACT & COMENT FORMULARIO */
.card_formulario{
    background-color: var(--fondo2);
}

.campo_input{
    margin-bottom: 10px;
}
@media (max-width: 834px ){
    .carrusel{
        visibility: collapse;
    }
}

/* <div class="col col-lg-6">
            <form method="POST" class="card card-body card_formulario text-center">
                <h1>Comentarios</h1>
                {% csrf_token %}

                <label for="usuario"></label>
                <input class="form-control campo_input opacity-50 shadow-none border-0" type="text" name="usuario" id="usuario" placeholder="nombre (opcional)">

                <label for="contenido"></label>
                <textarea class="form-control campo_input opacity-50 shadow-none border-0" name="contenido" id="contenido" rows="4" placeholder="Deja tu comentario*"></textarea>
                
                <button class="btn btn-secondary campo_input button_contact">Comentar</button>

            </form>
        </div> */