:root{
    --titulos: 'Oswald', sans-serif;
    --cuerpos: 'Oswald', sans-serif;
    --fondo: #222831;
    --texto: #FFF9F5;
    --secundario: #FD7014;
    --secundario2: #f4863e;
}

/*   GLOBALS   */
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.bg-main{
    font-family: var(--titulos);
    background-color: var(--fondo);
    color: var(--texto);
}


/*   NAVBAR   */
.menuvar-colapsado{
    background-color:  var(--secundario);
    color: var(--fondo)
}

.navbar{
    font-size: 20px;
}

.enlaces{
    color: var(--texto)
}

.enlaces:hover{
    color: var(--texto);
}

.button{
    color: var(--secundario);
    border: solid 2px var(--secundario);
    border-radius: 20px;
    padding: 5px 30px;
}

.button:hover{
    color: var(--secundario2);
    border-color: var(--secundario2)
}




/*   HERO   */
.contenedor_presentacion{
    line-height: 70px;
}
.presentacion_texto h1{
    font-size: 50px;
}
.presentacion_texto p{
    padding-top: 18px;
    font-size: 20px;
    line-height: normal;
}
.presentacion_foto{
    border-radius: 50%;
    width: 300px;
    border: solid 2px var(--secundario);
}
@media (min-width: 768px) {
    .contenedor_foto{
        text-align: end;
    }
    .presentacion_texto{
        text-align: left;
    }
}
@media (max-width: 428px) {
    .contenedor_foto{
        text-align: center;
    }
    .presentacion_texto{
        text-align: center;
    }
}
@media (max-width: 393px) {
    .presentacion_texto h1{
        font-size: 35px;
    }
    .presentacion_texto p{
        font-size: 14px;
    }
}
.skills{
    color: var(--secundario2);
}

.icono_redes{
    color: var(--texto);
    font-size: 30px;
    padding-right: 20px;
}

.icono_redes:hover{
    color: var(--secundario);
}

.button_about{
    color: var(--secundario);
}



.contenedor_saludo{
    background-color: #6E07F3;
    height: 400px;
    background-size: cover;
}

.parrafo_saludo p{
    padding-top: 40px;
    margin: 0 auto;
    width: 800px;
    font-size: 26px;
}
@media (max-width: 380px ) {
    .parrafo_saludo h1{
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .parrafo_saludo p{
        width: 500px;
        font-size: 20px;
    }
}
@media (max-width: 550px) {
    .parrafo_saludo p{
        width: 370px;
        font-size: 15px;
    }
}
@media (max-width: 393px) {
    .parrafo_saludo p{
        width: 370px;
        font-size: 15px;
    }
}


